@import url(https://fonts.googleapis.com/css?family=Pangolin);body {
  height: 100vh;
  background-color: #82cf84;
  color: #3b7ac0;
  font-size: 2rem;
  font-weight: 900;
  font-family: "Pangolin", cursive; }
