@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
  background: white;
  font-family: 'Open Sans', sans-serif;
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
}

.img {
  margin: auto;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
};

.birdLogImage {
   max-height: 100px;
};

.parentBounding {
  max-height: 100px;
}

.bounding {
  max-height: 100px;
}

.imageText {
  font-size: 12px;
  color: #221aaf;
  word-wrap: break-word;
}

.geosuggest__input {
  width: 220px; }
  
.profileMap {
  margin: auto;
  margin-bottom: 10px;
  position: relative;
  width: 1000px;
  height: 500px;
  overflow: hidden;
}